@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 50;
    margin-left: auto; 
    margin-right: auto;
    padding-left: 20px;
    padding-right: 45px;
    padding-bottom: 30px;
    position: sticky;
    top: 0.75rem;
   
}

.hero{
   background-image: url("./hero/mintlyfi-bg-hero.svg");
   background-size: 129% auto;     
   background-position: left -215.3px  top -105px ;
   min-height: 100vh;
        position: relative;
        padding-top: 0.75rem;
}

.Sales{
    display: flex;
    flex-direction: row;
    gap: 10px;

    
    
}
.Sales a{
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

.salebox{
    border-radius: 20px;
    padding: 0.6rem 1.4rem;
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#sale1{
    background-color: rgba(255, 255, 255, 0.07);
}
#sale2{
    background-color: #fff;
    color: #111;
    border-color: #fff;
}

 #links{
     color: aliceblue;
     text-decoration: none; 
     
 }

.nav a{
     font-family: "Inter", sans-serif;
     font-weight: 600;
     
 }

 .navlinks{
    display: flex;
    gap: 30px;
 }
 
 .logo{
    display: flex;
    flex-direction: row;
}